@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

/* 工具样式复用 */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .row-x-center {
    @apply flex justify-center;
  }

  .col-x-center {
    @apply flex flex-col items-center;
  }

  .x-y-center {
    @apply flex items-center justify-center;
  }

  .shadow-top-box {
    --tw-shadow: 0 0 15px rgb(0 0 0 / 30%);
    --tw-shadow-colored: 0 0 15px var(--tw-shadow-color);

    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
      var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  }
}
