.first-create-active {
    width: 0;
    overflow: hidden;
    animation: printer-text 3s forwards;
    animation-delay: 500ms;
}

@keyframes printer-text {
    0% {
        width: 0;
    }

    80% {
        width: 100%;
    }

    90% {
        width: 100%;
    }

    100% {
        width: 100%;
        text-overflow: ellipsis;
    }
}